.mat-column-select {
  border: 1px solid currentColor;
  padding-right: 10px;
  text-align: center;
}

.mat-column-surname {
  border: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  border: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-patronymic {
  border: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-username {
  border: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
