body {
  background-color: #1E1E1E;
  color: white;
  font-size: 1vw;
}

.container {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 1vw;
}

h2 {
  font-size: 2vw;
  font-weight: bold;
}

h3 {
  font-size: 1.5vw;
}

input {
  color: #FFFFFF;
  border-radius: 20px;
  box-shadow: none !important;
  border: 1px solid #FFFFFF;
  background-color: #1E1E1E;
  padding: 1em;
}

.btn-primary:active,
.btn:active {
  color: #2c2c2c;
  background-color: #FFE177;
}

.btn-primary {
  border-radius: 20px;
  border: 0;
  background-color: #FFFFFF;
  color: black;
  font-size: 1em;
  padding: 1em;
  word-break: break-all;
}

.btn-primary:active {
  background-color: white;
  color: #686767;
}

.btn-primary:disabled {
  background-color: #474646;
  color: white;
}

.btn-primary:hover {
  background-color: #474646;
  color: white;
}

p {
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

textarea {
  color: #FFFFFF;
  background-color: #1E1E1E;
  border-radius: 20px;
  padding: 1em;
}

.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.drop-btn {
  background-color: #1E1E1E;
  color: #fff;
  border: 1px solid #FFFFFF;
  word-break: break-all;
}

.text-center {
  background-color: #1E1E1E;
}

.nav-btn {
  color: #fff;
  word-break: break-all;
}

.nav-btn:hover {
  color: white;
  background-color: #2c2c2c;
}

.modal-content {
  background-color: #2c2c2c;
}

.card {
  color: white;
  background-color: #2c2c2c;
  border-radius: 20px;
}

