<div class="container">
  <h2 class="text-center">Регистрация</h2>
  <form [formGroup]="registrationForm">
    <div class="justify-content-center row">
      <input placeholder="Фамилия" class="col-4" formControlName="surname">
    </div>

    <div class="justify-content-center row">
      <input placeholder="Имя" class="col-4" formControlName="name">
    </div>

    <div class="justify-content-center row">
      <input placeholder="Отчество" class="col-4" formControlName="patronymic">
    </div>

    <div class="justify-content-center row">
      <input placeholder="E-mail" class="col-4" formControlName="email">
    </div>

    <div class="justify-content-center row">
      <input type="password" placeholder="Пароль" class="col-4" formControlName="password">
    </div>

    <div class="justify-content-center row">
      <input type="password" placeholder="Подтверждение пароля" class="col-4" formControlName="confirmPassword">
    </div>

    <div class="text-center pb-4">
      <div ngbDropdown class="d-inline-block col-3">
        <button type="button" class="drop-btn btn-primary drop-btn p-2 col-12" id="dropdownBasic1" ngbDropdownToggle>
          {{ registrationForm.controls['role'].value}}
        </button>
        <div ngbDropdownMenu class="text-center col-12">
          <button class="nav-btn col-12" ngbDropdownItem (click)="registrationForm.controls['role'].setValue('PUPIL')">Ученик</button>
          <button class="nav-btn col-12" ngbDropdownItem (click)="registrationForm.controls['role'].setValue('TUTOR')">Репетитор</button>
        </div>
      </div>
    </div>

    <div class="justify-content-center row mb-3">
      <button class="btn btn-primary col-3" [disabled]="registrationForm.invalid" (click)="submit()">Зарегистрироваться</button>
    </div>

    <div class="justify-content-center row">
      <p class="text-center">Уже есть аккаунт? <u><a routerLink="/login">Войти</a></u></p>
    </div>

  </form>
</div>
