<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a class="mx-3" ngbNavLink>Создать ДЗ</a>
    <ng-template ngbNavContent>
      <div *ngIf="!currentSubjects || !pageLoaded" class="row m-3 col-12 spinner-border" role="status"></div>
      <div *ngIf="currentSubjects && pageLoaded" class="container-fluid px-3 pb-3">
        <div class="container-fluid mx-auto p-3  min-vh-100 border-opacity-25 rounded-4 border border-2 col-12 plate text-le">
          <h2 class="mx-3 mb-5">Ваши предметы</h2>
          <div class="d-inline" *ngFor="let subject of currentSubjects">
            <button class="m-3 col-2 btn btn-primary" style="height: 15vh" (click)="addHW(subject)">
              <h3>{{ subject.subjectName }}</h3>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </li>

  <li ngbNavItem>
    <a (click)="getHomeworks()" class="mx-3" ngbNavLink>Назначить ДЗ</a>
    <ng-template ngbNavContent>
      <div *ngIf="!currentSubjects || !pageLoaded" class="row m-3 col-12 spinner-border" role="status"></div>
      <div *ngIf="currentSubjects && pageLoaded" class="container-fluid px-3 pb-3">
        <div class="container-fluid mx-auto p-3  min-vh-100 border-opacity-25 rounded-4 border border-2 col-12 plate text-le">
          <div class="d-inline" *ngFor="let subject of currentSubjects">
            <h2>{{ subject.subjectName }}</h2>
            <div class="row">
              <div class="m-2 p-0 col-2" *ngFor="let homework of homeworks">
                <button *ngIf="homework.subject == subject.subjectName" class="col-12 btn btn-primary" (click)="addPupils(homework)">
                  <h3>{{ homework.name }}</h3>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
