<div class="container">
  <button class="row m-3 col-2 btn btn-primary" (click)="submit()">Сохранить</button>
  <div class="row m-1"></div>
  <div *ngIf="!tasksUpload" class="row m-3 col-12 spinner-border" role="status"></div>
  <div *ngFor="let task of allTasks let i = index">
    <input class="m-2" style="transform:scale(2);" type="checkbox" [(ngModel)]="task.isSelected" />
    <button
      type="button"
      class="btn btn-primary m-2 col-10"
      style="text-align: start"
      (click)="collapse.toggle(); codemirrorInit()"
      [attr.aria-expanded]="!isCollapsed[i]"
      aria-controls="collapseExample"
    >
      {{ task.task.name }}
    </button>

    <div class="col-10" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed[i]">
      <div class="card">
        <div class="card-body"><b>Название: </b>{{ task.task.name }}</div>
        <div class="card-body"><b>Текст: </b>{{ task.task.taskText }}</div>
        <div class="card-body"><b>Тип ответа: </b>{{ task.task.answerType }}</div>
        <div class="card-body">
          <b>Ответы: </b>
          <ngx-codemirror class="col-5 m-2" #codemirrorComponent *ngIf="task.task.answerType == 'Код'"
                          [options]="{
                          lineNumbers: true,
                          theme: 'material',
                          mode: 'text/x-c++src',
                          matchBrackets: true,
                          readOnly: true
                          }"
                          [(ngModel)]="task.task.answers[0]"
          ></ngx-codemirror>
          <div *ngIf="task.task.answerType != 'Код'">{{ task.task.answers }}</div>
        </div>
        <div class="card-body"><b>Тема 1: </b>{{ task.task.level1 }}</div>
        <div class="card-body"><b>Тема 2: </b>{{ task.task.level2 }}</div>
        <div class="card-body">
          <b class="row m-0">Картинки: </b>
          <div class="d-inline-block" *ngFor="let image of task.task.files">
            <img *ngIf="checkImage(image)" class="m-2 border-opacity-25 border border-2"
                 [src]="image" width="200px" height="auto" alt="">
            <div *ngIf="checkImage(image)" class="row mx-2 text-center" style="
              background-color: white;
              width: 200px;
              word-wrap: break-word">{{image.substring(image.indexOf('.') + 1)}}</div>
          </div>
        </div>
        <div class="card-body">
          <b class="row m-0">Файлы: </b>
          <div class="d-inline-block mt-3" *ngFor="let file of task.task.files">
            <a class="mx-3" *ngIf="!checkImage(file)" href="{{file}}" download><img src="assets/document.png" width="60px"></a>
            <div *ngIf="!checkImage(file)" class="row mx-2 text-center" style="
                background-color: white;
                width: 60px;
                word-wrap: break-word">{{file.substring(file.indexOf('.') + 1)}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
