<div class="container mt-4">
  <h2 class="text-center">Создание задания</h2>
  <form [formGroup]="taskForm" class="mt-5">

    <div class="row mb-3 justify-content-center text-center">
      <p class="mb-1 text-uppercase fw-bold">Название задания</p>
      <input class="col-3" formControlName="taskName" placeholder="Введите название"
             [ngClass]="{'is-invalid': invalid('taskName')}">
      <div class="invalid-feedback">Название обязательно</div>
    </div>

    <div class="container mb-3">
      <div class="row mb-1 justify-content-center text-center">
        <p class="mb-0 text-uppercase fw-bold col-3">Текст задания</p>
        <p class="mb-0 text-uppercase fw-bold col-3">Ответ на задание</p>
      </div>
      <div class="row justify-content-center text-center">
        <textarea formControlName="taskText" class="col-3 m-1" style="resize: both" rows="4"
                  placeholder="Введите текст задания" [ngClass]="{'is-invalid': invalid('taskText')}"></textarea>

        <textarea formControlName="taskAns" class="col-3 m-1" style="resize: both" rows="4"
                  placeholder="Введите ответ на задание" [ngClass]="{'is-invalid': invalid('taskAns')}"></textarea>
        <div *ngIf="invalid('taskText')" class="invalid-feedback col-3">Текст задания обязателен</div>
        <div *ngIf="invalid('taskAns')" class="invalid-feedback col-3">Ответ на задание обязателен</div>
        <div class="row text-center">
          <div class="invalid-feedback col-3">Текст задания обязателен</div>

        </div>
      </div>
    </div>

    <div class="container mb-5">
      <div class="row mb-1 justify-content-center text-center">
        <p class="mb-1 text-uppercase fw-bold col-3">Предмет</p>
        <p class="mb-1 text-uppercase fw-bold col-3">Проверка</p>
      </div>

      <div class="row mb-1 justify-content-center text-center">
        <div ngbDropdown class="d-inline-block col-3">
          <button type="button" class="drop-btn btn-primary drop-btn p-2 col-12"
                  (focusout)="taskForm.controls['selectedSubject'].markAsTouched()"
                  [ngClass]="{'is-invalid': invalid('selectedSubject')}" ngbDropdownToggle>
            {{taskForm.controls['selectedSubject'].value}}
          </button>
          <div class="invalid-feedback col-4">Предмет обязателен</div>
          <div ngbDropdownMenu class="text-center col-12">
            <button ngbDropdownItem class="nav-btn col-12" *ngFor="let subject of subjects"
                    (click)="this.taskForm.controls['selectedSubject'].setValue(subject.subjectName)">{{ subject.subjectName }}</button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block col-3">
          <button type="button" class="drop-btn btn-primary drop-btn p-2 col-12"
                  (focusout)="taskForm.controls['checking'].markAsTouched()"
                  [ngClass]="{'is-invalid': invalid('checking')}" ngbDropdownToggle>
            {{taskForm.controls['checking'].value}}
          </button>
          <div class="invalid-feedback col-4">Тип проверки обязателен</div>
          <div ngbDropdownMenu class="text-center col-12">
            <button ngbDropdownItem class="nav-btn col-12" *ngFor="let checkingType of checkingTypes; let i = index"
                    (click)="this.taskForm.controls['checking'].setValue(checkingType)">{{ checkingType }}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-3">
      <div class="row mb-1 justify-content-center text-center">
        <p class="mb-0 text-uppercase fw-bold col-3">Тема первого уровня</p>
        <p class="mb-0 text-uppercase fw-bold col-3">Тема второго уровня</p>
      </div>

      <div class="row mb-1 justify-content-center text-center">
        <input class="col-3 m-1" formControlName="level1" placeholder="Введите тему"
               [ngClass]="{'is-invalid': invalid('level1')}">
        <input class="col-3 m-1" formControlName="level2" placeholder="Введите тему">
        <div class="invalid-feedback">Тема первого уровня обязательна</div>
      </div>
    </div>


    <div class="row mb-1 justify-content-center text-center">
      <input type="file" multiple class="col-3 m-1" (change)="saveFile($event)">
    </div>

    <div class="row mb-1 justify-content-center text-center">
      <button class="btn btn-primary col-3 m-1" (click)="goBack()">Отмена</button>
      <button class="btn btn-primary col-3 m-1" [disabled]="taskForm.invalid" (click)="submit()">Создать</button>
    </div>

  </form>

  <script src="https://ideone.com/e.js/jMaNvU" type="text/javascript" ></scrip
  <ngx-codemirror
    [options]="options"
  >{{code}}</ngx-codemirror>
</div>
