<div class="container">
  <h2 class="text-center">Создание задания</h2>
  <form [formGroup]="taskForm" class="mt-5">
    <div class="row mb-3 justify-content-center">
      <p class="mb-0 text-uppercase fw-bold text-center">Название задания</p>
      <input class="col-3" formControlName="taskName" placeholder="Введите название">
    </div>

    <div class="row mb-3 justify-content-center">
      <div class="text-center">
        <p class="mb-0 text-uppercase fw-bold">Текст задания</p>
        <textarea formControlName="taskText" class="col-3" style="resize: both" rows="4" placeholder="Введите текст задания"></textarea>
      </div>
    </div>

    <div class="row mb-3 justify-content-center">
      <div class="text-center">
        <p class="mb-0 text-uppercase fw-bold">Ответ</p>
        <textarea formControlName="taskAns" class="col-3" style="resize: both" rows="4" placeholder="Введите ответ на задание"></textarea>
      </div>
    </div>

    <div class="text-center mb-3">
      <p class="mb-0 text-uppercase fw-bold">Предмет</p>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>{{taskForm.value['selectedSubject']}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let subject of subjects" (click)="taskForm.value['selectedSubject']=subject.subjectName">{{ subject.subjectName }}</button>
        </div>
      </div>
    </div>

    <div class="row mb-3 justify-content-center">
      <div class="col-3 text-center">
        <p class="mb-0 text-uppercase fw-bold">Тема первого уровня</p>
        <input formControlName="level1" placeholder="Введите тему">
      </div>
    </div>

    <div class="row mb-3 justify-content-center">
      <div class="col-3 text-center">
        <p class="mb-0 text-uppercase fw-bold">Тема второго уровня</p>
        <input formControlName="level2" placeholder="Введите тему">
      </div>
    </div>

    <div class="row mb-3 justify-content-center">
      <div class="alert alert-danger col-3 row mb-3 p-1" *ngIf="invalid('taskName')">Не должно быть пустым</div>
    </div>


    <div class="row justify-content-center">
      <button class="btn btn-lg btn-outline-primary col-3" (click)="check()">Создать</button>
    </div>

  </form>
</div>
