<ul ngbNav #nav="ngbNav" class="nav-tabs">

  <li ngbNavItem>
    <a ngbNavLink>Задания</a>
    <ng-template ngbNavContent>
      <button class="row col-2 p-1 btn btn-lg btn-outline-primary" (click)="addTask()">Добавить задание</button>
      <div *ngIf="!tasksUpload" class="row mb-1 spinner-border" role="status"></div>
      <table *ngIf="tasksUpload">
        <thead>
        <tr>
          <th>Id</th>
          <th>Название</th>
          <th>Предмет</th>
          <th>Уроень 1</th>
          <th>Уровень 2</th>
          <th>Ответ</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody *ngFor="let task of tasks">
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{task.subject}}</td>
          <td>{{task.level1}}</td>
          <td>{{task.level2}}</td>
          <td>{{task.answers}}</td>
          <td>
            <button (click)="addTask(task)">Редактировать</button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </li>

</ul>
<div [ngbNavOutlet]="nav"></div>
