table {
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  padding: 8px;
}

.btn-close {
  background-color: white;
  border: 2px solid #000000;
  box-shadow: none;
}

.btn-close {
  background-color: white;
  border: 2px solid #000000;
  box-shadow: none;
}

.btn-close:hover {
  background-color: #2c2c2c;
}
